@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@
<img src="../logo.png" height="150" width="150"><br/>
<p>
    We are New Start, the place where Kiwis buy sneakers and jerseys online. This includes vintage NBA shoes and jeyserys, football jerseys and caps.
    <br/>The core idea of Trade Me is simple: we provide the NBA and football lovers with the iconic shoes and jerseys they need.
</p>