@{
    ViewBag.Title = "New Start Sports";
}

    <div class="jumbotron">
        <img src="../logo.png" height="150" width="150">
        <style>
            * {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            #box {
                width: 1100px;
                border: 1px solid #000;
                height: 200px;
                margin: 30px auto;
                position: relative;
                overflow: hidden;
            }

                #box ul {
                    position: relative;
                    left: 0;
                    top: 0;
                }

                    #box ul li {
                        width: 200px;
                        height: 200px;
                        float: left;
                        /*padding: 5px;*/
                    }
        </style>
        <script>
            window.onload = function () {
                var oBox = document.getElementById('box');
                var oUl = oBox.children[0];
                var aLi = oUl.children;
                oUl.innerHTML += oUl.innerHTML;
                oUl.style.width = aLi.length * aLi[0].offsetWidth + 'px';
                setInterval(function () { //开定时器，这样就可以自己切换，无需人工干预。
                    //slider speed
                    var l = oUl.offsetLeft - 3; //图片切换，就是移动距离
                    if (l <= -oUl.offsetWidth / 2) {
                        l = 0;
                    }
                    oUl.style.left = l + 'px';
                }, 30);
            };
        </script>

        <div id="box">
            <ul>
                <li><img src="../Content/ProductImages/Air Jordan 11.jpg" width="200"></li>
                <li><img src="../Content/ProductImages/Holland front.JPG" width="200"></li>
                <li><img src="../Content/ProductImages/Jason Williams front.jpg" width="200"></li>
                <li><img src="../Content/ProductImages/Air Jordan 1.jpg" width="200" alt="aj"></li>
                <li><img src="../Content/ProductImages/Air Jordan 13.jpg" width="200"></li>
                <li><img src="../Content/ProductImages/Barcelona front.gif" width="200"></li>
            </ul>
        </div>
    </div>
